[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.8.2"
Flask = "==1.0.2"
boto3 = "==1.7.80"

[dev-packages]

[requires]
python_version = "3.7"
